<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="navbar(activePage)" class="h-100">
        <!-- Desktop Sidebar -->
        <div id="sidebar-container" 
            class="d-none d-md-flex flex-column h-100 p-3 bg-secondary flex-shrink-0" 
            style="width: 85px;">
            
            <div th:replace="~{fragments/navbarUpper :: navbar-upper(activePage=${activePage})}"></div>

            <div class="mt-auto d-flex justify-content-center w-100 mb-4 px-0">
                <a href="/logout" class="nav-link text-danger p-2 rounded" title="Logout">
                    <div class="d-flex justify-content-center align-items-center" style="width: 40px; font-size: 1.2rem;">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                </a>
            </div>
        </div>

        <!-- Mobile Bottom Bar -->
        <div th:replace="~{fragments/navbarLower :: navbar-bottom(activePage=${activePage})}"></div>
    </div>

</body>
</html>