<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <h1>Food Nutrition Calculator</h1>

    <form method="post" th:action="@{/add-food}">
        <label for="foodDescription">Descripe food consumed:</label>
        <input type="text" id="foodDescription" name="foodDescription" required><br><br>

        <button type="submit">Calculate Nutrition</button>
    </form>

    <div th:if="${food != null}">
        <h2>Result:</h2>
        <p><strong th:text="${food.foodName}"></strong> contains:
           <strong th:text="${food.calories}"></strong> calories and
           <strong th:text="${food.protien}"></strong> protien.</p>
    </div>
</body>
</html>